h2 { /* Este estilo afecta a todos los h2 de INDEX2.html */
    font-size: 60px; 
    color: blue;
    background-color: aquamarine;
}

.textomorado { /* Esta es una clase CCS que aplica color morado y fuente Times New Roman */
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}

.claseContenedorDiv1 { /* Afectara a algunos contenedores div */
    font-size: 40px;
    width: 900px;
    height: 600px;
    background-color: rgb(42, 165, 52);
}

#fondonaranja { /* Identificador que solo afecta a una etiqueta */
    background-color: orange;
    font-size: 30px;
    text-align: center;
}

.textomorado:hover {
    background-color:chocolate;
    color: darkgreen;
}

.claseContenedorDiv1::first-letter { /* seudoelemento que afecta a la primera letra */
    font-size: 80px;
    color: rgb(238, 52, 28);
}

.clase_Static {
    font-size: 20px;
    background-color: aqua;
    position: static;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 200px;
}

.clase_Static2 {
    font-size: 20px;
    background-color: aqua;
    position: static;
    top: 20px; /* Esto no funciona en static */
    left: 80px; /* Esto no funciona en static */ 
    right: 200px; /* Esto no funciona en static */
}

.clase_Relative{
    font-size: 20px;
    background-color: aquamarine;
    height: 250px;
    width:200px;
}
.clase_Relative:hover {
    position: relative;
    top: 100px;
    left: 100px;
    z-index: -5;
    /* z-index para colocar adelante (+) o atras (-) en profundidad respecto a otro elemento*/
}

.clase_Relative2{
    font-size: 20px;
    background-color: aquamarine;
    height: 250px;
    width:200px;
}
.clase_Relative2:hover {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}


